body {
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* 黒い紺色 */
    color: #fff; /* 文字色を白に */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;      
    flex-direction: column;       
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-top: 10px;
}

input, button, textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #45a049;
}
