
body {
    font-family: Arial, sans-serif;
    background-color: #001f3f;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    color: #001f3f; /* 入力欄の文字色を設定 */
    background-color: #fff; /* 背景色を白に設定 */
    border-radius: 5px; /* 入力欄の角を丸くする */
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: 2px solid white;  /* 白い枠線を追加 */
    padding: 10px 20px;  /* 横幅に余裕を持たせる */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* 影を追加 */
    transition: all 0.3s ease; /* スムーズなホバートランジション */
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  /* ホバー時に強くなる影 */
}

body, h1, p, label, a, button {
    color: white;
}
